#box{max-height:400px;min-height:400px;  overflow-y: scroll;}
#msg{min-height:100px;}
#users{overflow:auto;}
.activeuser{
	color: green;
	text-align: right;
}

.activeuser .chat{
	display: inline-block;
	padding: 0.25em 0.4em;
	font-weight: 500;
	padding-right: 0.6em;
	padding-left: 0.6em;
	border-radius: 10rem;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	color: #fff;
	background-color: #28a745;
}

.anotheruser .chat{
	display: inline-block;
	padding: 0.25em 0.4em;
	font-weight: 500;
	padding-right: 0.6em;
	padding-left: 0.6em;
	border-radius: 10rem;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	color: #fff;
	background-color: #343a40;
}

.bg-grey{
	background-color: #e0e0e0;
}
.bg-chat{
	background-color: #fafafa;
}